:root {
    --color-background: #F0D8A1;
    --color-primary: #A47251;
    --color-secondary: #DD9E59;
    --color-neutral: #DCF0C3;
}

* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-background);
}

button {
    background-color: var(--color-neutral);
    border-radius: 5px;
    border: 0px;
    font-size: medium;
    padding: 1px 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

button:hover {
    background-color: #c6e4a1;
    transform: scale(1.1);
}
